@import url("https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Comfortaa&family=Oswald&family=Source+Sans+Pro&family=Work+Sans&display=swap");

* {
  font-family: "Oswald", sans-serif;
  margin: auto;
  background-color: teal;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.heading {
  margin: 5px 5px;
  padding: 5px 5px;
  border: 1px solid white;
  text-align: center;
}
#bill-amount,
#cash-given {
  background-color: white;
  color: black;
}
